/* #LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* #naverLoginId,
#kakoLoginIcon,
#googleLoginIcon {
  place-items: center;
  display: grid;
  size: 10%;
} */

/* .body {
  margin-top: 200px;
} */
