@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Blod';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Blod.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* #root {
  width: 1280px;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-items: center;
} */

.body{
  background: #ffffff;
  min-height: 100%;
  margin-top: 170px;
  margin-bottom: 50px;
  padding-bottom: 300px;
  
}

.app-main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;

  position: relative;
}

body {
  font-family: 'Pretendard-Regular';
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  
}



.read-the-docs {
  color: #888;
}


.pagetitle {
  font-family: 'Pretendard-Black';
  /* font-weight: 900; */
  font-size: 30px;
  text-align: left;
  margin: 15px 0px 15px 20px ;
  color: #3a3a3a;
}

.SearchBar {
  display: flex;
  gap: 10px;
  line-height: 200%;
  margin-bottom: 13px;
  align-items: center;
}

.SearchBar form select {
  width: 100px;
  height: 60px;
  font-size: 75%;
}