.footer-nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  z-index: 1000;
  background: #f3f2f2;
  background-size: 100% 164px;

  text-align: center;
  padding: 30px;
  margin-top: 100px;
}

.ftMenu {
  color: rgb(170, 170, 170);
  display: flex;
  gap: 30px;
  justify-content: center;
}

.ft-column{
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 100px;
  text-align: left;

  color: rgb(170, 170, 170);
  
}

.left-column {
  width: 400px;
  border: 1px dotted rgb(168, 168, 168);
  
}

.right-column{
  width: 400px;
  border: 1px dotted rgb(168, 168, 168);
}

.ft-h2 {
  color: rgb(63, 62, 62);
  font-size: 18px;
  font-weight: 500;
}

.member {
  font-size: 14px;
  margin-left: 5px;
}