/* Navigation */
nav {
  font-family: 'Pretendard-Regular';
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 164px;
  z-index: 10;
  background: #ffffff;
  
  border-bottom: 1px solid #eeeeee !important ;

  display: block;
  box-sizing: border-box; 
}

.navigation {
  width: 1020px;
  flex-direction: column;
  margin: 0 auto;
  
}
/* 검색 게시판 상품등록 마이페이지 */
.nav-top {
  display: flex;
  justify-content: flex-end;
  z-index: 100;

  margin-top: 5px;
  margin-bottom: 40px;
  color: #9a8a8a;
}

/* nav-left, nav-right */
.nav-bottom {
  max-width: 1028px;
  height: 100%;
  background: #ffffff;
  z-index: 100;
 
  display: flex;
  justify-content: space-between;
  align-items:baseline;

  margin: 0 auto;
  /* padding: 0 20px 25px 0; */
  box-sizing: border-box;

  color: #9a8a8a;
  
}

.nav-left {
  align-items: flex-end;
  gap: 10px;
}

.nav-left,
.nav-top,
.nav-right {
  display: flex;
  gap: 20px; 
}

.nav-top,
.nav-right {

  align-items: center;
  gap: 20px; 
}

/* Site name */
.site_name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 110%;

  color: #f0b8b8;
}

/* MARKET | TICKET */
.main-link {
  font-size: 30px;
  font-weight: 600;
}

/* 로그인 */
.login {
  font-size: 24px;
  font-weight: 500;

  display: flex;
  align-items: center;

}
/* Chat Icon */
svg {
  width: 20px;
  height: 20px;
}

/* .productpage-top {
  display: flex;
  justify-content: space-between;
} */

/* 검색 게시판 상품등록 마이페이지 */
/* .nav-top {
  display: flex;
  position: absolute;
  top: 10px;
  right: 30px;
  align-items: flex-end ;
  gap: 50px;
  color: #aca7a7;
}

/* 로그인 챗 */
/* .nav-right {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 50px;
  align-items: center;
  gap: 30px;

  font-size: 24px;
  color: #aca7a7;
} */


/* 검색 */
/* .search {
  position: absolute;
  width: 37px;
  height: 30px;
  left: 1027px;
  top: 13px;

  display: flex;
  align-items: center;
} */

/* 상품등록 */
/* .product_create {
  position: absolute;
  width: 74px;
  height: 30px;
  left: 1112px;
  top: 13px;

  display: flex;
  align-items: center;
} */

/* 마이페이지 */
/* .my_page {
  position: absolute;
  width: 92px;
  height: 30px;
  left: 1234px;
  top: 13px;

  display: flex;
  align-items: center;

} */