body {
  margin: 0;
}

h2 {
  font-weight: 430;
  font-size: 30px;
  text-align: left;
  color: #35628a;
}

input {
  width: 140px;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#searchButton {
  border-color: rgb(184, 184, 184);
  width: 48px;
  height: 38px;
  font-size: 90%;
}

.pluploadbutton{
  text-decoration: underline;
  font-size: 90%;
  color: #666666;
}

.product_list {
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  width: fit-content;
  margin: 0 auto;
}

.product_card {
  
  width: 200px;
  height: 280px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* overflow: hidden; */
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 1px dotted  rgb(168, 168, 168);
}

.product_info {
  /* display: flex;
  justify-content:space-between; */
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
}

.product_title {
  font-family: 'Pretendard-Medium';
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
  font-size: 19px;
  font-weight: 550;
}

.Sampleimage {
  width: 180px;
  height: 180px;
  margin: 8px 9px 0 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(168, 168, 168);
  
}