/* FavoriteCategory - 관심사 정보 체크 박스 */
.favorite-main {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  justify-content: center;
}
.favorite-main:hover {
  background-color: #f5f5f5;
}
.favorite-CheckBox {
  width: 16px;
  height: 16px;
  accent-color: #2563eb; /* 파란 체크박스 */
}
.favorite-label {
  font-size: 14px;
  color: #333;
}

/* FavoritesSelector */
.category-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개 */
  gap: 12px;
  background-color: #f0f0f0;
}
.form-actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 20px;
}
.form-title {
  border-radius: 8px;
  background-color: #f0b8b8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.button1,
.button2 {
  font-size: 16px;
  border-radius: 8px;
  background-color: #f0b8b8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
