.mypage-container {
  display: grid;
  grid-template-areas:
    "sidebar sidebar sidebar"
    "header header  header"
    "products products rating"
    "products products reviews"
    "peak peak reviews"
    "button button button";
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f8f8f8;
}

.header {
  grid-area: header;
}

.products {
  grid-area: products;
  grid-column: 1/3;
}

.products .sell-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

/* .products .sell-options {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
} */

.products .sell-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.peak {
  grid-area: peak;
  grid-column: 1/3;
}

.rating {
  grid-area: rating;
  justify-self: center;
}

.reviews {
  grid-area: reviews;
  grid-row: 4/6;
}

.button {
  grid-area: button;
}
