.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 세로 가운데 정렬 */
  padding: 10px 20px;
}

.navbar-inner {
  display: flex;
}

.navbar a:hover {
  color: #f37878;
}

.navbar-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin-right: 10px;
}
.navbar-menu li:last-child {
  margin-right: 0;
}

/* mainPage */
.main {
  width: 100vw;
  max-width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.sticky-navbar {
  position: sticky;
  top: 0; /* container 내부 상단에 딱 붙음 */
  background-color: white;
  padding: 10px 20px;
  background-color: #f0b8b8;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  z-index: 10;
}
