.transactionReview-main {
  width: 1200px;
}
/* ---------------------------------------- */
.choiceStarRating {
  border: 1px solid red;
}
.starScore {
  display: flex;
}

/* ---------------------------------------- */
.checkReview {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개 */
  gap: 12px;
  background-color: #f0f0f0;
  width: 100%;
}
.reviewCheckbox {
  display: flex;
}
.reviewCheckbox {
  font-size: xx-small;
}
/* ---------------------------------------- */
.textReview {
  border: 1px solid yellow;
}
/* ---------------------------------------- */
.checkButton {
  border: 1px solid black;
}
